<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.board.mapper.BoardMapper">

    <select id="getLists" resultType="kr.board.entity.Board">
        select * from my_board order by idx desc
    </select>
    
    <insert id="boardInsert" parameterType="kr.board.entity.Board">
        insert into my_board (title,content,writer)
        values(
            #{title},
            #{content},
            #{writer}
        )
        
    </insert>
    
    <select id="boardContent" parameterType="int" resultType="kr.board.entity.Board">
        select * from my_board where idx=#{idx}
    
    </select>
    
    <delete id="boardDelete" parameterType="int">
        delete from my_board where idx=#{idx}
    </delete>
    
    <update id="boardUpdate" parameterType="kr.board.entity.Board">
        update my_board set title=#{title}
                           ,content=#{content}
                      where idx=#{idx}
    </update>
</mapper>